body {
  margin: 0;
  padding: 0;
  background: url('img/libros_img.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}


.login{
  background: url('img/logo-Login2.png') no-repeat center center fixed;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.25);
  width: 320px;
  height: 250px;
  text-align: center;
  z-index: auto; 
  position: relative;
}

.login h2 {
  margin-bottom: 13px;
  color: #0056b3;
  font-weight: bold;
}

.login .Usuario,
.login .Contraseña {
  width: 90%;
  padding: 12px;
  margin: 7px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

.login .Usuario:focus,
.login .Contraseña:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0,123,255,0.5);
}


.btn {
  display: inline-block;
  background: #007BFF;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 1.1rem;
  text-align: center;
  transition: background 0.3s;
}

.btn:hover {
  background: #0056b3;
}

.btn a{
  color: white;
}